# Block all environment files
.env
*.env
**/*.env
*/.env

# Ignore virtual env
.venv/
venv/

# Ignore Python caches
__pycache__/
**/__pycache__/

# Ignore other junk
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

