#python
__pycache__/
logs/
*.pyc
.venv/
.ipynb_checkpoints/


# Data & models
data/**
!data/**/*.dvc
/models/**
!/models/**/*.dvc
*.pickle
*.pkl


# env
.env


#dvc/mlflow artifacts
.mlflow/
.dvc/tmp/

# macOS system files
.DS_Store
**/.DS_Store


#mlflow
mlruns/
